mixin image(filename, className, extension, id)
  if extension == 'svg'
    img(class=className id=id src=require(`./images/${filename}.svg`))
  else
    img(class=className id=id src=require(`./images/${filename}.png`))